<div>
  <h1>project conversation history page</h1>
  <h1>Project name: <%= @project.name%></h1>

  <%= button_to 'Update status', user_project_path( current_user, @project) %>
  <%#   render comments using the comment view_component %>
    <div id="comments">
        <% @project.comments.each do |comment| %>
          <%= render(CommentComponent.new(comment)) %>
        <% end %>
    </div>
          <%= render(NewCommentComponent.new(project: @project)) %>
    <%= button_to  'Logout', destroy_user_session_path, method:  :delete %>
</div>
